   
body{
    background:blue;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: rgb(207, 45, 45);
}
    
    .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    
    }
    
    @media (min-width:768px) {
        .container{
            width: 750px;
        }
    }
    
    @media (min-width:992px) {
        .container{
            width: 970px; 
    }
  }
    @media (min-width:1200px) {
        .container{
            width: 1170px;
        }
    }












.one{
    display: flex;
    padding: 50px;
    padding-right: 66px;
    gap: 10px;
}

.on{
    background-image: url("bg-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
   padding:0px;
   height: 430px;
   text-align: center;
   width: 80%;

}

.on h1{

    color: white;
    font-size: 25px;
    position: relative;
    top: 90px;

}
.on p{
    font-size: 20px;
    color: gainsboro;
    padding-bottom: 10px;
    position: relative;
    top: 90px;
}
.on button{
    position: relative;
    top: 90px;
     font-weight: bolder;
    background:white;
    border-radius: 100px;
    padding: 16px;
    width: 120px;
    color: black;
    border-color: white;

}
.on button:hover{

    border-color: blue;
    background: blue;
    color: white;
  
}
.n{
    width: 100%;
    height: 240px;
    padding-top: 90px;
    }

    @media (max-width:768px) {

        .one{
            display: block;
            padding: 0px;
            gap: 0px;

        }
    
    .n{

    width: 100%;
    height:auto ;
    padding-bottom: 80px;
    padding-top: 0px;
    
      }
       
        .on{
        background-image: url("bg-1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
       padding:0px;
       height: 430px;
       text-align: center;
       width: 100%;
    
        }

        .on h1{
            transform: translatey(140px);
            color: white;
            font-size: 20px;    
            position: relative;
            top: 0px;
        }
        
        .on p{
            font-size: 13px;
            color: white;
            transform: translatey(140px);
            position: relative;
            top: 0px;
        }
             
        .on button{
            position: relative;
            top: 0px;
            transform: translatey(140px);
           font-size: 10px;
             font-weight: bolder;
            background:white;
            border-radius: 100px;
            padding: 9px;
            width: 90px;
            color: black;
            border-color: white;
        
        }
    
    }
    








































.m{
    display: flex;
    padding: 40px;
    padding-right: 66px;
    gap: 70px;
}

.i{
   
    width: 130%;
    height: 240px;
     padding-top:70px ;
    }

.x{
 
    background-image: url("bg-1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
       padding:0px;
       height: 430px;
       text-align: center;
       width: 80%;

}


.x h1{

    color: white;
 position: relative;
 top: 100px;
 

}


.x p{
    position: relative;
    top: 100px;
    color: gainsboro;
    padding-bottom: 10px;

}


.x button{
    position: relative;
    top: 100px;
    
     font-weight: bolder;
    background: white;
    border-radius: 100px;
    padding: 15px;
    width: 120px;
    color: black;
    border-color: white;

}

.x button:hover{

    border-color: blue;
    background: blue;
    color: white;
  
}



@media (max-width:768px) {
   

.m{
    display: block;
    padding: 0px;

    }
       
    
    .i{

        width: 100%;
        height:auto ;
        padding-bottom: 0px;
        padding-top: 0px;
       
        
          }
           
    
    .x{
        background-image: url("bg-1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
       padding:0px;
       height: 400px;
       text-align: center;
       width: 100%;
       padding-top: 0px;
    }
       
    .x h1{
        position: relative;
        top: 0px;
        color: white;
        transform: translatey(140px);
        font-size: 20px;  
     
    
    }
    
    .x p{
        transform: translatey(140px);
        color: gainsboro;
        padding-bottom: 10px;
        position: relative;
        top: 0px;
        
    }
     
    .x button{
        transform: translatey(140px);
         font-weight: bolder;
        background: white;
        border-radius: 100px;
        padding: 15px;
        width: 120px;
        color: black;
        border-color: white;
        position: relative;
        top: 0px;
        
    }
    
    .x button:hover{
        transform: translatey(140px);
        border-color: blue;
        background: blue;
        color: white;
      
    }
    
    
}




































.u{
    display: flex;
  
}

.t{
    background: transparent;
    background-image: url("bg-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
   padding:0px;
   height: 430px;
   text-align: center;
   width: 80%;


}

.t h1{

    color: white;
    font-size: 25px;
   position: relative;
   top: 50px;
}
.t p{
    font-size: 20px;
    color: gainsboro;
    padding-bottom: 10px;
    position: relative;
    top: 50px;
}
.t button{
    position: relative;
    top: 50px;
     font-weight: bolder;
    background:white;
    border-radius: 100px;
    padding: 16px;
    width: 120px;
    color: black;
    border-color: white;

}
.t button:hover{

    border-color: blue;
    background: blue;
    color: white;
  
}

.s{
    padding: 20px;
    display: grid;
    gap: 6px;
    background: black;
    width: 50%;

}

.e{
    font-size: 40px;
    width: 90%;
    padding: 20px;
    background: transparent;
    border: none;
}

input:focus{
border-style: none;

}

::placeholder{
color: white;
font-size: 25px;
}


@media (max-width:768px) {
   

    .u{
        display: block;
        padding: 0px;
    
        }
               
        .t{
           
            background-image: url("bg-2.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
           padding:0px;
           height: 430px;
           text-align: center;
           width: 100%;

        }
           
        .t h1{
        
            color: black;
            transform: translatey(140px);
            font-size: 35px;  
         
        
        }
        
        .t p{
            transform: translatey(140px);
            color: black;
            padding: 0px;
        
        }
         
        .t button{
            transform: translatey(140px);
             font-weight: bolder;
            background: white;
            border-radius: 100px;
            padding: 15px;
            width: 120px;
            color: black;
            border-color: white;
        
        }
        
        .t button:hover{
            transform: translatey(140px);
            border-color: blue;
            background: blue;
            color: white;
          
        }
        
        
.s{
    background: red;
    width: 92%;

}

.e{
    font-size: 40px;
    width: 83%;
    padding: 26px;
    background: transparent;
    border: none;
    border-bottom: solid;
    border-color: white;
    
}

::placeholder{
color: white;
font-size: 25px;
}
        
    }
    
    





























.k{
    display: flex;
    padding: 50px;
    padding-right: 66px;
}

.o{

    width: 110%;
    height: 240px;
    padding-top: 0px;
    }

.w{
    background-image: url("bg-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
   padding:0px;
   height: 430px;
   text-align: center;
   width: 60%;
   padding-top: 0px;
}


.w h1{

    color: white;
    position: relative;
    top: 90px
}


.w p{
    position: relative;
    top: 90px;
    color: gainsboro;
    padding-bottom: 10px;

}


.w button{
    position: relative;
    top: 90px;
     font-weight: bolder;
    background: white;
    border-radius: 100px;
    padding: 15px;
    width: 120px;
    color: black;
    border-color: white;

}

.w button:hover{
    position: relative;
    top: 90px;
    border-color: blue;
    background: blue;
    color: white;
  
}



@media (max-width:768px) {
   

.k{
    display: block;
    padding: 0px;
   
    }
       
    
    .o{
    
        width: 100%;
        height:auto ;
        padding-bottom: 80px;
        padding-top: 30px;
       
        
          }
           
    
    .w{
        background-image: url("bg-1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
       padding:0px;
       height: 430px;
       text-align: center;
       width: 100%;
    }
       
    .w h1{
        position: relative;
        top: 0px;
        color: white;
        transform: translatey(140px);
        font-size: 20px;  
     
    
    }
    
    .w p{
        transform: translatey(140px);
        color: gainsboro;
        padding-bottom: 10px;
        position: relative;
        top: 0px;
    }
     
    .w button{
        transform: translatey(140px);
         font-weight: bolder;
        background: white;
        border-radius: 100px;
        padding: 15px;
        width: 120px;
        color: black;
        border-color: white;
        position: relative;
        top: 0px;
    }
    
    .w button:hover{
        transform: translatey(140px);
        border-color: blue;
        background: blue;
        color: white;
      
    }
    
    
}
































.h{

    display: flex;
}

.j{
   background: orange;
   width: 50%;
   padding: 70px;
   text-align: center;
    }

.j p {
    color: white;
    font-weight: bold;
    font-style: italic;
}
.j h1 {
    color: white;
}


.j img{
        background: wheat;
        border-radius: 100%;

         }

.r{
    background:white;
    text-align: center;
    padding: 40px;

  
}

.r p{
   color: black;
    padding-bottom: 30px;
     position: relative;
     top: 0px;
}

.r h1{
    position: relative;
    top: 0px;
    color: black;

}

.r button{
    position: relative;
    top: 0px;
    font-weight: bolder;
   background: red;
   border-radius: 100px;
   padding: 15px;
   width: 120px;
   color: white;
   border-color: white;

}

.r button:hover{

   border-color: black;
   background: transparent;
   color: black;
 
}

@media (max-width:768px) {

    .h{
        background: red;
        display: block;
    }
    
    .j{
       background: orange;
       width: auto;
       padding: 70px;
       text-align: center;
        }
    
        .j img{
            background: wheat;
            border-radius: 100%;
    
             }
    
    .r{
        text-align: center;
        padding: 40px;
         position: relative;
         top: 90px;
         height:400px;
      
    }
    
    .r p{
        padding-bottom: 30px;
    
    }
    
    
    .r button{
    
        font-weight: bolder;
       background: white;
       border-radius: 100px;
       padding: 15px;
       width: 120px;
       color: black;
       border-color: white;
    
    }
    
    .r button:hover{
    
       border-color: blue;
       background: blue;
       color: white;
     
    }
    

}


































.c{
background: black;
 padding: 30px;
}

.c h1{
    font-size: 30px;
    color: white;
}

.c ul {
    color: white;
    list-style: none;
    padding: 6px;
   
}


.c li{
    color: white;
    list-style: none;
    padding: 6px;
   
}

.c li:hover{
    color: white;
    background: red;
    list-style: none;
    padding: 6px;
    width: fit-content;
   
}




























   .icon{
    background: black;
    padding: 30px;
   }
   
.ic {
    display: flex;
    gap: 10px;
}
.icon h1{
    font-size: 30px;
    color: white;
}

.ic img{
    width: 25px;
}

























   .in{
    background: black;
    padding: 30px;
   }
   
   .in h1{
    font-size: 30px;
    color: white;
}

.in input{
    width: 100%;
    height: 40px;
}

















.q{
    color: white;
    background: black;
    padding: 30px;
   }

.g{
    display: flex;
    gap: 20px;
}

.g h3{

 font-size: 15px;

}
.g img {
    width: 25px;
    height: 35px;
   
}

.g h3 {
    line-height: 0px;
}






